In [2]:
inp = input()

 wow

In [3]:
print(inp)

wow

In [4]:
questions = ['Whats your name?', 'How old are you?', 'What city do you live in?']
list_of_responses = []

In [5]:
def ask_question():
    qna = []
    for qs in questions:
        print(qs)
        qna.append(input())
    list_of_responses.append(qna)

In [6]:
for i in range(2):
    ask_question()

Whats your name?

 fen

How old are you?

 24

What city do you live in?

 seattle

Whats your name?

 wasabi

How old are you?

 7

What city do you live in?

 seattle

In [7]:
import pandas as pd 
pd.DataFrame(list_of_responses, columns=questions)

  Whats your name? How old are you? What city do you live in?
0              fen               24                   seattle
1           wasabi                7                   seattle

In [8]:
def ask_question():
    qna = []
    for qs in questions:
        # print our question
        print(qs)
        # get our input
        inp = input()
        # check if they're entering numbers when we ask for them 
        if 'old' in qs:
            if inp.isnumeric() == False:
                # if they aren't, tell them to do it right. 
                print('Please provide a numeric response.')
                break
        else:
        # check if they're entering letters when we ask for them 
            if inp.isnumeric():
                # same deal here, if they aren't doing it, boot em'
                print('Please provide alphabetical response.')
                break
        # title our responses to normalize capitalization 
        qna.append(inp.title())
    # only add it to our big list if they filled out all of the questions
    if len(qna) == len(questions):
        list_of_responses.append(qna)

In [23]:
ask_question()

Whats your name?

 4

Please provide alphabetical response.

In [24]:
dict_of_responses

{'resp': [{'q': ['Whats your name?',
    'How old are you?',
    'What city do you live in?'],
   'a': ['fen', '24', 'seattle']},
  {'q': ['Whats your name?', 'How old are you?', 'What city do you live in?'],
   'a': ['wasabi', '7', 'seattle']},
  {'q': ['Whats Your Name?'], 'a': ['Fen']},
  {'q': [], 'a': []},
  {'q': ['Whats Your Name?', 'How Old Are You?', 'What City Do You Live In?'],
   'a': ['Fen', '45', 'Seattle']}]}